<div id="main">
    <div class="posts_container">
        <div class="posts">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                        <tr class="body_rows">
                            <td>{{title}}</td>
                            <td>None</td>
                            <td>{{status}}</td>
                            <td>Buttons</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="/public/js/main.js"></script>