*{
    margin:0;
    padding:0;
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    background-color: #333;
    color: white;
}
.buttons{
    margin: 0 25px;
}
.buttons a{
    text-decoration: none;
    color: white;
}
.buttons a:visited{
    color: white;
}
.login_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    align-items: center;
    margin: 20px auto;
}
.login_container *{
    margin-top: 30px;
}
#auth_button{
    display:block;
    background-color: #05f;
    border-radius: 10px;
    padding: 5px 10px;
}
.login_container a{
    text-decoration: none;
    color: white;
}
.login_container a:visited{
    color: white;
    text-decoration: none;
}
.posts_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.posts{
    width: 100%;
    height: 100%;
}
.main{
    max-width: 1200px;
    margin: auto;
}
table{
    width: 100%;
    height: 100%;
}
th{
    text-align: left;
}
tr{
    height: 30px;
}
table{
    border: none;
    border-collapse: collapse;
}
tbody td{
    padding: 5px;
}
.posts_container a{
    text-decoration: none;
    color: white;
    display:block;
    background-color: #05f;
    width: 180px;
    border-radius: 10px;
    padding: 5px 10px;
}
.posts_container a:visited{
    color: white;
    display:block;
    background-color: #05f;
    width: 180px;
    border-radius: 10px;
    padding: 5px 10px;
    text-decoration: none;
}